@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Semibold.woff2') format('woff2'),
        url('Gilroy-Semibold.woff') format('woff'),
        url('Gilroy-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather';
    src: url('Merriweather-Black.woff2') format('woff2'),
        url('Merriweather-Black.woff') format('woff'),
        url('Merriweather-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

